b {
	font-weight: bold;
}

ol {
	list-style-type: decimal;
	padding-left: 20px;
	border: 0;
}

h1 {
	font-size: x-large;
	margin-top: 1em;
	margin-bottom: 1em;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.emphasize {
	font-style: italic;
}

.center {
	text-align: center;
}